#!/bin/sh
#
#
#         Date: 2009-Dec-26 (Sat, in the Piney Woods)
#      Updated: 2011-Jan-09 (Sunday, to get it working on OSDL)
#      Updated: 2014-Dec-13 (Saturday, for NORDAUTO EXEC and friends)
#         Note: This RC script defines two S/390 network interfaces,
#               LCS at address 440 (commented out) and QDIO at 340.
#               Uncomment the one your need (or change as desired).
#               The QDIO NIC is used in a NORDAUTO context in which
#               'ifconfig' statements will be appended automaticall.
#
#

#
# bring up the loop-back interface
ifconfig lo 127.0.0.1

modprobe ipv6

#modprobe lcs # for S390
#sync ; sync ; sleep 1
#echo 0.0.0440,0.0.0441 > /sys/bus/ccwgroup/drivers/lcs/group
#sync ; sync ; sleep 1
#echo 1 > /sys/bus/ccwgroup/drivers/lcs/0.0.0440/online
#sync ; sync ; sleep 1

modprobe qeth # for S390
sync ; sync ; sleep 1
echo 0.0.0340,0.0.0341,0.0.0342 > /sys/bus/ccwgroup/drivers/qeth/group
sync ; sync ; sleep 1
echo 1 > /sys/bus/ccwgroup/drivers/qeth/0.0.0340/layer2
sync ; sync ; sleep 1
echo 1 > /sys/bus/ccwgroup/drivers/qeth/0.0.0340/online
sync ; sync ; sleep 1

#ifconfig eth0 148.100.88.27 netmask 255.255.255.0
#route add default gw 148.100.88.1
#ifconfig eth0 inet6 add 2620:91:0:688:1::27/64


